{% extends "partials/base.html" %} {% load static %} {% block content %}
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.html">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Create Profile</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 d-flex align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="index-2.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Create Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
        <!-- create-profile Area Strat-->
        <section class="create-profile-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login">
                            <h3 class="text-center mb-60">Create Your Profile</h3>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-icon-green w-100">Create Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- create-profile Area End-->
{% endblock content %}
