{% extends "partials/base.html" %} {% load static %} {% block content %}
        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="{% static 'img/page/page-bg.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Our Team</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                        <a href="{% url "core:home" %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Doctor</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->
         <!-- team-area start -->
        <section class="team-area pt-115 pb-55">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section-title pos-rel mb-75">
                            <div class="section-icon">
                                <img class="section-back-icon back-icon-left" src="{% static 'img/section/section-back-icon.png' %}" alt="">
                            </div>
                            <div class="section-text pos-rel">
                                <h5>Our Team</h5>
                                <h1>A Professional & Care Provider</h1>
                            </div>
                            <div class="section-line pos-rel">
                                <img src="{% static 'img/shape/section-title-line.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="section-button text-end d-none d-lg-block pt-80">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="{% url "core:book-appointment" %}" class="btn btn-icon ml-0"><span>+</span>Schedule Consultation</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member1.html' %}" alt="">
                                {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %}
                            </div>
                            <div class="team-content">
                                <h3>Faith Willie</h3>
                                <h6>Founder & Director</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member2.html' %}" alt="">
                                {% comment %} {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %} 
                            </div>
                            <div class="team-content">
                                <h3>Chukwu Okafor</h3>
                                <h6>Head of Operations</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member3.html' %}" alt="">
                                {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %}
                            </div>
                            <div class="team-content">
                                <h3>Dr. Amara Nwankwo</h3>
                                <h6>Medical Director</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member4.html' %}" alt="">
                                {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %}
                            </div>
                            <div class="team-content">
                                <h3>Blessing Adeyemi</h3>
                                <h6>Training Coordinator</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member5.html' %}" alt="">
                                {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %}
                            </div>
                            <div class="team-content">
                                <h3>Patricia Okoro</h3>
                                <h6>Lead Caregiver</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-box text-center mb-60">
                            <div class="team-thumb mb-45 pos-rel">
                                <img src="{% static 'img/team/member6.html' %}" alt="">
                                {% comment %} <a class="team-link" href="doctor-details.html">+</a> {% endcomment %}
                            </div>
                            <div class="team-content">
                                <h3>Ejiro Obi</h3>
                                <h6>Community Outreach Officer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-area end -->
        <!-- fact-area start -->
        <section class="fact-area fact-map primary-bg pos-rel z-index-1 pt-115 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="section-title pos-rel mb-45">
                            <div class="section-text section-text-white pos-rel">
                                <h5>We are available 24/7</h5>
                                <h1 class="white-color">We Always Ready For A Challenge.</h1>
                            </div>
                        </div>
                        <div class="section-button section-button-left mb-30">
                            <a data-animation="fadeInLeft" data-delay=".6s" href="#"
                                class="btn btn-icon ml-0"><span>+</span>Schedule Consultation</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-6 col-md-8">
                        <div class="cta-satisfied">
                            <div class="single-satisfied mb-50">
                                <h1>1M+</h1>
                                <h5> <i class="fas fa-user"></i> Satisfied Patients</h5>
                                <p>Faithful Help Healthcare Ltd provides compassionate, reliable, and skilled care.
                                    labore et dolore magna
                                    aliqua.</p>
                            </div>
                            <div class="single-satisfied mb-50">
                                <h1>100+</h1>
                                <h5><i class="far fa-thumbs-up"></i> World Awards</h5>
                                <p>Faithful Help Healthcare Ltd provides compassionate, reliable, and skilled care.
                                    labore et dolore magna
                                    aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- fact-area end -->
        <!-- about-area start -->
        <section class="about-area pt-120 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-couter counter-box counter-box-white text-center mb-30">
                            <img src="img/counter/counter-icon-7.html" alt="">
                            <h1><span class="theme-color counter">540</span>+</h1>
                            <h6 class="green-color pb-20">Expert Doctors</h6>
                            <div class="counter-text mt-10">
                                <p>Faithful Help Healthcare Ltd provides compassionate, reliable, and skilled care.
                                    lab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-couter counter-box counter-box-white text-center mb-30">
                            <img src="img/counter/counter-icon-83.html" alt="">
                            <h1><span class="theme-color counter">899</span>+</h1>
                            <h6 class="green-color pb-20">Problem Solve</h6>
                            <span class="counter-shpae"></span>
                            <div class="counter-text mt-10">
                                <p>Faithful Help Healthcare Ltd provides compassionate, reliable, and skilled care.
                                    lab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-couter counter-box counter-box-white text-center mb-30">
                            <img src="img/counter/counter-icon-9.html" alt="">
                            <h1><span class="theme-color counter">100</span>+</h1>
                            <h6 class="green-color pb-20">Award Winner</h6>
                            <span class="counter-shpae"></span>
                            <div class="counter-text mt-10">
                                <p>Faithful Help Healthcare Ltd provides compassionate, reliable, and skilled care.
                                    lab.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area end -->
{% endblock content %}
