{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!-- hero-area start -->
        <section class="breadcrumb-bg pt-200 pb-180" data-background="{% static 'img/page/page-bg.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="page-title">
                            <p class="small-text pb-15">We are here for your care.</p>
                            <h1>Portfolio Slider</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="page-breadcumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url "core:home" %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero-area end -->

        <!-- START PORTFOLIO DESIGN AREA -->
        <section class="portfolio-area pt-120 pb-90">
            <div class="container">
                <div class="postbox__gallery mb-35">
                    <img src="img/portfolio/lg-1.html" alt="portfolio image">
                    <img src="img/portfolio/lg-2.html" alt="portfolio image">
                    <img src="img/portfolio/lg-3.html" alt="portfolio image">
                    <img src="img/portfolio/lg-4.html" alt="portfolio image">
                </div>
            </div>
        </section>
        <!-- / END PORTFOLIO DESIGN AREA -->


{% endblock content %}
